@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');

:root {
  --serif: 'Montaga', serif;
  --sans-serif: 'Montaga', sans-serif;
  --primary: rgb(47, 79, 79);
  --primary-dark: rgba(47, 79, 79, var(--opacity-dark));
  --primary-light: rgba(47, 79, 79, var(--opacity-light));
  --secondary: rgb(245, 245, 245);
  --secondary-dark: rgba(245, 245, 245, var(--opacity-dark));
  --secondary-light: rgba(245, 245, 245, var(--opacity-light));
  --green: rgb(34, 139, 34);
  --green-dark: rgba(34, 139, 34, var(--opacity-dark));
  --green-light: rgba(34, 139, 34, var(--opacity-light));
}

body {
  --body-background-color: var(--secondary);
}

.head {
  --head-border: solid thin var(--primary);
  --head-border-radius: 2px;
}

[class*="card"] {
  --card-border-radius: 5px;
  --card-max-width: auto;
  --card-box-shadow: unset;
  --card-title-text-shadow: unset;
  --card-child-border-radius: 5px;
  --card-child-text-align: justify;
  --card-hover-transform: unset;
}
