{% extends 'layout/layout.twig' %}

{% block title %}Arithmancie{% endblock %}

{% block description %}
    L'Arithmancie, ou Numérologie traditionnelle,
    permet d'obtenir une Interprétation du Caractère d'un Individu,
    en se servant de sa Date de Naissance & de son Nom.
{% endblock %}

{% block main %}
<main id="home">
    <header class="head">
        <a class="button-primary"
            href="https://fr.wikipedia.org/wiki/Num%C3%A9rologie"
            title="Voir la page Wikipedia sur la Numérologie">
            <strong>L'Arithmancie</strong>
        </a>
        ou <strong>Numérologie</strong> traditionnelle,
        permet d'obtenir des Interprétations sur 
        certains Éléments de la Vie d'un Individu,
        en se servant de sa Date de Naissance 
        & de son Nom.
        Cette technique de 
        <a class="button-primary"
            href="https://fr.wikipedia.org/wiki/Divination"
            title="Voir la page Wikipedia sur la Divination">
            <strong>Divination</strong>
        </a>
        est basée sur les chiffres de 1 à 9,
        appelés Nombres.
        Ses origines remontent à 
        <a class="button-primary"
            href="https://fr.wikipedia.org/wiki/Pythagore"
            title="Voir la page Wikipedia sur Pythagore">
            <strong>Pythagore</strong>
        </a>, 
        il y a plus de 2000 ans.
    </header>

    <nav class="sidebar">
        <input id="sidebar-home"
            class="sidebar-check" 
            type="checkbox">
        <label for="sidebar-home"
            class="sidebar-open" 
            title="Voir la barre de navigation">
            <i class="far fa-eye fa-lg fa-fw"></i>
        </label>
        <label for="sidebar-home"
            title="Cacher la barre de navigation">
            <i class="far fa-eye-slash fa-lg fa-fw"></i>
        </label>

        <a href="#lifePath" 
            title="Le Chemin de Vie">
            <i class="fas fa-road fa-lg fa-fw"></i>
        </a>

        <a href="#home" 
            title="Retour en haut de page">
            <i class="fas fa-chevron-circle-up fa-lg fa-fw"></i>
        </a>
    </nav>

    <ul class="flex">
        <li>
            <a class="btn-primary"
                href="{{ url('number') }}" 
                title="Les 9 Nombres en Arithmancie">
                <i class="fas fa-sort-numeric-down fa-3x fa-fw"></i>
                <span>Nombres</span>
            </a>
        </li>
        <li>
            <a class="btn-primary" 
                href="{{ url('calculation') }}" 
                title="Les Nombres Calculés en Arithmancie">
                <i class="fas fa-equals fa-3x fa-fw"></i>
                <span>Calculs</span>
            </a>
        </li>
        <li>
            <a class="btn-primary"
                href="{{ url('theme') }}" 
                title="Votre Thème Numérologique (en construction)">
                <i class="fab fa-readme fa-3x fa-fw"></i>
                <span>Thème</span>
            </a>
        </li>
    </ul>

    {{ include("front/home/lifePath.twig") }}
</main>
{% endblock %}
