{% extends 'layout/layout.twig' %}

{% block title %}Administration{% endblock %}

{% block description %}{% endblock %}

{% block main %}
<input id="menu-radio1" 
    class="menu-radio1" 
    type="radio" 
    name="menu"
    checked>
<input id="menu-radio2" 
    class="menu-radio2" 
    type="radio" 
    name="menu">
<input id="menu-radio3" 
    class="menu-radio3" 
    type="radio" 
    name="menu">

<nav class="menu">
    <label for="menu-radio1" 
        title="Voir les Nombres">
        <i class="fas fa-sort-numeric-down"></i>
        <span>
            Nombres
        </span>
    </label>
    <label for="menu-radio2" 
        title="Voir les Nombres Calculés">
        <i class="fas fa-equals"></i>
        <span>
            Nombres Calculés
        </span>
    </label>
    <label for="menu-radio3" 
        title="Voir les Utilisateurs">
        <i class="fas fa-users"></i>
        <span>
            Utilisateurs
        </span>
    </label>
</nav>

<main class="menu-relay container-90lg-80xl-70wd">

    {{ include("back/admin/listNumbers.twig") }}
    {{ include("back/admin/listCalculations.twig") }}
    {{ include("back/admin/listUsers.twig") }}

</main>
{% endblock %}
