<form id="form" 
    class="form"
    method="post" 
    action={{ url('theme') }}>

    <fieldset>
        <legend>Votre Thème Complet: 10€ TTC</legend>
        <ul>
            <li>
                <label for="usualFirstName">
                Prénom Usuel
                </label>
                <input id="usualFirstName" 
                    name="usualFirstName"
                    type="text" 
                    minlength="2"
                    maxlength="50"
                    placeholder="Prénom-Usuel"
                    required>
            </li>
            <li>
                <label for="middleName">
                Second Prénom
                </label>
                <input id="middleName" 
                    name="middleName"
                    type="text" 
                    minlength="2"
                    maxlength="50"
                    placeholder="(Optionnel)">
            </li>
            <li>
                <label for="thirdName">
                Troisième Prénom
                </label>
                <input id="thirdName" 
                    name="thirdName"
                    type="text" 
                    minlength="2"
                    maxlength="50"
                    placeholder="(Optionnel)">
            </li>
            <li>
                <label for="lastName">
                Nom de Famille
                </label>
                <input id="lastName" 
                    name="lastName"
                    type="text" 
                    minlength="2"
                    maxlength="50"
                    placeholder="Nom-de-Famille"
                    required>
            </li>
            <li>
                <label for="birthDate">
                    Date de Naissance
                </label>
                <input id="birthDate" 
                    name="birthDate"
                    type="date"
                    required>
            </li>
        </ul>

        <div id="paypal-button">
        </div>
    </fieldset>
</form>
