{% extends 'layout/layout.twig' %}

{% block title %}Les Nombres Calculés{% endblock %}

{% block description %}
    Les Nombres Calculés en Arithmancie,
    sont obtenus à partir des Prénoms, 
    des Noms & des Dates de Naissance
    d'Individus afin d'obtenir des Interprétations.
{% endblock %}

{% block main %}
<main id="home">
    <header class="head">
        Les Nombres Calculés en Arithmancie,
        sont obtenus à partir des Prénoms, 
        des Noms & des Dates de Naissance d'Individus,
        afin d'obtenir des Interprétations.
        2 Éléments sont à la base de ces Calculs Numérologiques, 
        l'Alphabet de Tripoli & la Réduction Théosophique.
    </header>

    <nav class="sidebar">
        <input id="sidebar-calculation"
            class="sidebar-check" 
            type="checkbox">
        <label for="sidebar-calculation"
            class="sidebar-open" 
            title="Voir la barre de navigation">
            <i class="far fa-eye fa-lg fa-fw"></i>
        </label>
        <label for="sidebar-calculation"
            title="Cacher la barre de navigation">
            <i class="far fa-eye-slash fa-lg fa-fw"></i>
        </label>

        <a href="#tripoli" 
            title="L'Alphabet de Tripoli">
            <i class="fas fa-font fa-lg fa-fw"></i>
        </a>
        <a href="#reduction" 
            title="La Réduction Théosophique">
            <i class="fas fa-square-root-alt fa-lg fa-fw"></i>
        </a>
        <a href="#signification" 
            title="Les Nombres Calculés">
            <i class="fas fa-equals fa-lg fa-fw"></i>
        </a>

        <a href="#home" 
            title="Retour en haut de page">
            <i class="fas fa-chevron-circle-up fa-lg fa-fw"></i>
        </a>
    </nav>

    {{ include("front/calculation/tripoli.twig") }}
    {{ include("front/calculation/reduct.twig") }}
    {{ include("front/calculation/signification.twig") }}

</main>
{% endblock %}
