<article>
    <h2>
        La Réduction Théosophique
    </h2>

    <header class="head"> 
        <a class="button-primary"
            href="https://fr.wikipedia.org/wiki/R%C3%A9sidu_d%27un_entier_naturel"
            title="Voir la page Wikipedia sur la Réduction Théosophique">
            La Réduction Théosophique
        </a>
        ou Racine Numérique d'un entier naturel
        est la Somme des Chiffres itérés de ce Nombre.
    </header>

    <section class="card-primary container-90lg-80xl-70wd">
        <h3>Réduire un Nombre</h3>

        <p>
            Une Somme par Réduction Théosophique s'obtient
            en additionnant tous les Chiffres d'un Nombre Initial, 
            puis en additionnant les Chiffres du Nombre Résultant,
            autant de fois que nécessaire,
            jusqu'à l'obtention d'un Nombre Final composé d'un seul Chiffre.
        </p>
    </section>
</article>
