<article>
    <h2>
        L'Alphabet de Tripoli
    </h2>

    <header class="head">
        <a class="button-primary"
            href="https://fr.wikipedia.org/wiki/Arithmancie"
            title="Voir la page Wikipedia sur l'Alphabet de Tripoli">
            L'Alphabet de Tripoli
        </a>
        inventé en 1350 par Septimus Tripoli,
        est un Système permettant de Transformer
        les Lettres en Chiffres.
    </header>

    <section class="card-primary container-90lg-80xl-70wd">
        <h3>Transformer des Lettres</h3>

        <img src="img/tripoli.jpg"
            alt="Alphabet de Tripoli">

        <p>
            La Transformation des Lettres en Chiffres
            s'obtient en se référant à ce tableau,
            nommé Alphabet de Tripoli.
            Celui-ci met en évidence les Correspondances
            Vibratoires entre les Lettres & les Chiffres.
        </p>
    </section>
</article>
