{% extends 'layout/layout.twig' %}

{% block title %}Modifier une Définition{% endblock %}

{% block description %}{% endblock %}

{% block main %}
<main>
    <form class="form" 
        method="post" 
        action={{ url('definition!update', {'id': definition.id}) }}>
        <fieldset>
            <legend>
                <i class="fas fa-question-circle fa-2x"></i>
            </legend>
            <ul>
                <li>
                    <label for="name">
                        Nom
                    </label>
                    <input id="name" 
                        name="name" 
                        type="text" 
                        maxlength="20" 
                        value="{{ definition.name }}"
                        required>
                </li>
                <li>
                    <label for="description">
                        Description
                    </label>
                    <textarea id="description" 
                        name="description"
                        rows="12" 
                        required>{{ definition.description }}</textarea>
                </li>
                </li>
            </ul>
            <ul>
                <li>
                    <input type="reset" 
                        value="Réinitialiser">
                    <input type="submit" 
                        value="Modifier">
                </li>
            </ul>
        </fieldset>
    </form>
    <a class="btn-black btn-lg" 
        href="{{ url('admin') }}">
        Quitter
    </a>
</main>
{% endblock %}