{% extends 'layout/layout.twig' %}

{% block title %}Définitions des Nombres{% endblock %}

{% block description %}{% endblock %}

{% block main %}
<main>

    <header class="head">
        Introduction Définitions !
    </header>

{% for definition in definitions %}

    <section class="card-primary container-90lg-80xl-70wd">
        <h2>{{ definition.name }}</h2>
        <p>{{ definition.description }}</p>
    </section>

{% endfor %}

</main>
{% endblock %}
