{% extends 'layout/layout.twig' %}

{% block title %}Les 9 Nombres{% endblock %}

{% block description %}{% endblock %}

{% block main %}
<main>

    <header class="head">
        Les 9 Nombres en Arithmancie,
        c'est-à-dire les Chiffres de 1 à 9,
        sont à la fois la base & le résultat final
        des Calculs Numérologiques.
        <br>
        Vous trouverez ici les significations de
        ces Nombres "Primordiaux".
    </header>

{% for number in numbers|slice(0, 9) %}

    <section class="card-primary container-90lg-80xl-70wd">
        <h2>Nombre {{ number.number }}</h2>
        <p>{{ number.description }}</p>
    </section>

{% endfor %}

</main>
{% endblock %}
