{% extends 'layout/layout.twig' %}

{% block title %}Description des Nombres{% endblock %}

{% block description %}{% endblock %}

{% block main %}
<main>

    <header class="head">
        Introduction Nombres !
    </header>

{% for number in numbers|slice(0, 9) %}

    <section class="card-primary container-90lg-80xl-70wd">
        <h2>Nombre {{ number.number }}</h2>
        <p>{{ number.description }}</p>
    </section>

{% endfor %}

</main>
{% endblock %}
