{% extends 'layout/layout.twig' %}

{% block title %}Thème Numérologique{% endblock %}

{% block description %}
    Interprétations du Chemin de Vie & des Nombres d'Expression, Intime, de Réalisation, du Jour, du But, Personnel, Héréditaire, de Pouvoir & Spirituel.
{% endblock %}

{% block main %}
<main>
    <header class="head">
        Nous proposons ici la Création Instantanée
        de votre Thème Numérologique Personnalisé.
        Il vous suffit de renseigner les Informations suivantes:
        votre Prénom Usuel, vos autres Prénoms (si vous en avez),
        votre Nom de Famille & votre Date de Naissance.
    </header>

    <section>
        <h2>Obtenir son Thème Numérologique</h2>

        {% if dateData %}
            {{ include("front/themeInterpretation.twig") }}
        {% endif %}

        {{ include("front/themeForm.twig") }}
    </section>
</main>
{% endblock %}

{% block script %}
    <script src="https://www.paypal.com/sdk/js?client-id=AdmfYEkeGiaos2Cf3Ah_aGhWFtpCaN_GyQW_lLEICyNAfMYFj4KgFzYaN4fF0uR3cc1T_s6GN27AC5oA&locale=fr_FR&currency=EUR">
    </script>
    <script src="js/paypal.js">
    </script>
{% endblock %}